h1 {
    color: blueviolet;
    font-size: 80px;
}


/*Esto es una clase - inicia con punto*/

.selector-clase {
    color: red;
    font-size: 30px;
}

/*Esto es un ID - inicia con un # - solo se puede utilizar una vez*/

#selector-id {
    color: cornflowerblue;
    font-size: 50px;
}

button {
    background-color: red;
    padding: 10px; /*Sirve para dar espacio interno*/
    border-radius: 20px;
    border: none;
    transition: all 1.5s ease;
}

button:hover{
    background-color: blue;
}

.pseudo-clase-hover:hover {
    color: green;
    cursor: pointer;
}

.pseudo-clase-link-hover {
    text-decoration: none;
    font-size: 20px;
}

.pseudo-clase-link-hover:hover{
    text-decoration: underline;
}